{% extends 'admin/change_list.html' %}

{% block content %}
  <h1>Importação de Usuários</h1>
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div>
      <label for="csv_file">Arquivo CSV</label>
      <input type="file" name="csv_file" accept=".csv" required />
    </div>
    <div>
      <button type="submit" class="button">Importar</button>
    </div>
  </form>
  
  {% if messages %}
    <div class="messagelist">
      {% for message in messages %}
        <div class="message {{ message.tags }}">
          {{ message }}
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endblock %}
