{% extends "account/base_entrance.html" %}
{% load i18n %}

{% block head_title %}
    {% trans "Contact Us" %}
{% endblock head_title %}

{% block content %}
    <div class="max-w-4x1 mx-auto bg-white rounded-lg shadow-sm">
        <h1 class="text-4xl font-bold mb-4">{% trans "Contato" %}</h1>
        
        <p class="text-gray-600  mb-6">
            {% trans " Gostou, quer conhecer a nossa solução? Envie-nos uma mensagem e entraremos em contato com você em breve." %}
        </p>

        <form method="POST" class="space-y-4">
            {% csrf_token %}
            
            <div>
                <input type="text" name="name" placeholder="{% trans 'Nome' %}" 
                       class="w-full rounded-md" required>
            </div>

            <div>
                <input type="email" name="email" placeholder="{% trans 'Melhor e-mail' %}" 
                       class="w-full rounded-md" required>
            </div>

            <div>
                <input type="tel" name="phone" placeholder="{% trans 'Seu telefone, Whatssap' %}" 
                       class="w-full rounded-md">
            </div>

            <div>
                <textarea name="message" placeholder="{% trans 'Escreva sua mensagem' %}" 
                          class="w-full rounded-md" rows="4" required></textarea>
            </div>

            <button type="submit" 
                    class="bg-blue-500 hover:bg-blue-600 text-white font-medium py-2 px-4 rounded-md transition duration-200">
                {% trans "Enviar mensagem" %}
            </button>
        </form>
    </div>
{% endblock %}